<%- include ('../partials/head.html') %>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <h1>Automoviles para retirar</h1>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="card p-2 mb-5">
        <div class="card-header mb-3 p-2 text-lg">Listos para retirar</div>
        <table id="dataTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="d-none">ID</th>
                    <th>Estado</th>
                    <th>RUT</th>
                    <th>PATENTE</th>
                    <th>Finalizado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% cars.forEach((car) => { %>
                <tr>
                    <td class="d-none"><%= car.id %></td>
                    <td>
                        <span class="badge badge-success">Listo para retirar</span>
                    </td>
                    <td><%= car.rut %></td>
                    <td><%= car.patent %></td>
                    <td><%= car.updated_at %></td>
                    <td>
                        <button class="btn btn-success btn-sm mx-1" onclick="confirm('¿Retirar?') ?
                                document.getElementById('form-update-<%= car.id %>').submit() : null">
                            <i class="fas fa-check"></i>
                        </button>
                    </td>
                    <form action="/callcenter/sinisters/<%= car.id %>/finalized?_method=PUT"
                        id="form-update-<%= car.id %>" class="d-none" method="POST">
                        <input type="hidden" name="_method" value="PUT" />
                    </form>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</section>



<script src="/public/js/admin/jquery.dataTables.min.js"></script>
<script src="/public/js/admin/dataTables.bootstrap4.min.js"></script>
<script src="/public/js/admin/dataTables.responsive.min.js"></script>
<script src="/public/js/admin/responsive.bootstrap4.min.js"></script>


<script>
    $('#dataTable').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "autoWidth": false,
        "responsive": true,
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
        },
        "order": [
            [1, "desc"]
        ]
    });
</script>


<%- include ('../partials/footer.html') %>