<%- include ('../partials/head.html') %> <%- include
('../partials/navbar.html')%>

<div
  class="bg-primary text-light"
  style="border-bottom-left-radius: 100px; border-bottom-right-radius: 100px"
>
  <div class="container">
    <div class="row text-center text-lg-start" style="padding: 100px 0 50px 0">
      <div class="col-12 col-lg-6">
        <h1 class="display-4 fw-bold pb-3">Seguro Automotriz</h1>
        <p class="fs-5 lh-base">
          Protege tu auto de robos y daños materiales con las mejores
          aseguradoras del mercado. Mejora la cobertura de tu SOAP con nosotros.
        </p>
        <div
          class="d-flex justify-content-center justify-content-lg-start gap-3 py-4"
        >
          <button class="btn btn-warning btn-lg" type="button">
            Cotizar mi seguro
          </button>
          <button class="btn btn-outline-light btn-lg" type="button">
            Soap en linea
          </button>
        </div>
        <p class="fs-6 col-lg-8">
          Al continuar estás aceptando nuestros Términos y Condiciones
        </p>
      </div>
      <div
        class="col-6 d-none d-lg-flex align-items-center justify-content-center text-center"
      >
        <img
          src="/public/img/undraw_by_my_car_ttge.svg"
          alt="image"
          class="w-75"
        />
      </div>
    </div>
  </div>
</div>

<%- include ('../partials/footer.html') %>
