<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-2 py-md-3">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="/"><%= global_title.toUpperCase() %></a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <% if (!global_user) { %>
                <li class="nav-item">
                    <a href="/login" class="btn btn-outline-light">Ingresar</a>
                </li>
                <% } else { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <%= global_user.name %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if (global_user.role == 'ADMIN_ROLE') { %>
                        <a class="dropdown-item" href="/admin/users">Panel Administrador</a>
                        <% } %>
                        <% if (global_user.role == 'CALLCENTER_ROLE') { %>
                        <a class="dropdown-item" href="/callcenter/cars">Panel Callcenter</a>
                        <% } %>
                        <% if (global_user.role == 'MECHANIC_ROLE') { %>
                        <a class="dropdown-item" href="/mechanic">Panel Mecanico</a>
                        <% } %>
                        <% if (global_user.role == 'USER_ROLE') { %>
                        <a class="dropdown-item" href="/user">Panel Usuario</a>
                        <% } %>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item text-danger"
                            onclick="document.getElementById('formLogout').submit()">
                            Cerrar sesion
                        </button>
                        <form action="/logout" method="POST" id="formLogout"></form>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <%- include ('./messages.html') %>
</div> -->

<nav class="navbar navbar-expand-lg bg-white">
  <div class="container align-items-center">
    <a class="navbar-brand text-primary fw-bold fs-4" href="/">Aseguradora</a>
    <div class="d-flex align-items-center">
      <% if (!global_user) { %>
      <div class="d-flex align-items-center">
        <p class="text-secondary m-0 pe-3 d-flex align-items-center">
          <i class="fa-solid fa-phone pe-1"></i>
          <span>(56) 9 74335324</span>
        </p>
        <a href="/login">
          <button type="button" class="btn btn-primary">Ingresar</button>
        </a>
      </div>
      <% } else { %>
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <%= global_user.name %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <% if (global_user.role == 'ADMIN_ROLE') { %>
          <a class="dropdown-item" href="/admin/users">Panel Administrador</a>
          <% } %> <% if (global_user.role == 'CALLCENTER_ROLE') { %>
          <a class="dropdown-item" href="/callcenter/cars">Panel Callcenter</a>
          <% } %> <% if (global_user.role == 'MECHANIC_ROLE') { %>
          <a class="dropdown-item" href="/mechanic/sinisters/pending"
            >Panel Mecanico</a
          >
          <% } %> <% if (global_user.role == 'USER_ROLE') { %>
          <a class="dropdown-item" href="/user/sinisters">Panel Usuario</a>
          <% } %>
          <div class="dropdown-divider"></div>
          <button
            class="dropdown-item text-danger"
            onclick="document.getElementById('formLogout').submit()"
          >
            Cerrar sesion
          </button>
          <form action="/logout" method="POST" id="formLogout"></form>
        </ul>
      </div>
      <% } %>
    </div>
  </div>
</nav>

<div class="container"><%- include ('./messages.html') %></div>
